<h2>Add an Item</h2>
<form method="POST" action="/items">
<p><label for="name"></label>
<input type="text" name="name" id="name" placeholder="Item Name"></p>
<p><label for="brand"></label>
<input type="text" name="brand" id="brand" placeholder="Brand"></p>
<p><label for="size"></label>
<input type="text" name="size" id="size" placeholder="Size"></p>
<p><label for="item_cost"></label>
<input type="text" name="item_cost" id="item_cost" placeholder="Item Cost"></p>
<p><label for="purchased_from"></label>
<input type="text" name="purchased_from" id="purchased_from" placeholder="Purchased From"></p>
<p><label for="purchase_date"></label>
<input type="date" name="purchase_date" id="purchase_date" placeholder="Purchase Date"></p>
<input type="submit" value="Add Item">
</form>