<h2>Add an Item</h2>
<form method="POST" action="/items">
<p><label for="name"></label>
<input type="text" name="name" id="name" required="true"placeholder="Item Name"></p>
<p><label for="brand"></label>
<input type="text" name="brand" id="brand" required="true" placeholder="Brand"></p>
<p><label for="size"></label>
<input type="text" name="size" id="size" required="true" placeholder="Size"></p>
<p><label for="cost"></label>
<input type="number" step="0.01" name="cost" id="cost" required="true" placeholder="Item Cost ($)"></p>
<p><label for="purchased_from"></label>
<input type="text" name="purchased_from" id="purchased_from" required="true" placeholder="Purchased From"></p>
<p><label for="purchase_date"></label>
<input type="date" name="purchase_date" id="purchase_date" required="true" placeholder="Purchase Date"></p>
<input type="submit" value="Add Item">
</form>