<header class="navbar navbar-expand-md navbar-dark bg-dark">
            <span class="navbar-brand">Add an Expense</span>
</header>

<div class="border border-dark rounded-bottom">
    <div class="form-group">
        <form method="POST" action="/expenses">
        <label for="name">Expense Name</label>
        <input type="text" class="form-control" name="name" id="name" required="true"></p>
        <label for="category">Category</label>
        <input type="text" class="form-control" name="category" id="category" required="true" placeholder="Category"></p>
        <label for="cost">Cost ($)</label>
        <input type="number" class="form-control" step="0.01" name="cost" id="cost" required="true" placeholder="Expense Cost ($)"></p>
        <label for="purchased_from">Purchased From</label>
        <input type="text" class="form-control" name="purchased_from" id="purchased_from" required="true" placeholder="Purchased From"></p>
        <label for="purchase_date">Purchase Date</label>
        <input type="date" class="form-control" name="purchase_date" id="purchase_date" required="true" value="<%= DateTime.now.strftime('%Y-%m-%d')%>"></p>
        <button class="btn btn-primary" type="submit">Add Expense</button>
        </form>
    </div>
</div>