<% if !@expenses.empty? %>
<h2>Expenses (Total: $<%= sprintf("%.2f", Expense.total(session[:user_id])) %>)</h2>
<ul>
<% @expenses.each do |expense| %>
    <li><a href="/expenses/<%= expense.id %>"><%= expense.name %></a></li>
<% end %>
</ul><br>
<p><a href="/expenses/new">Add Expense</a></p>
<% else %>
<h2>Expenses (Total: $0)</h2>
<p>No expenses added, please <a href="/expenses/new">click here</a> to add an expense.</p>
<% end %>