<h2>Expenses (Total: $<%= sprintf("%.2f", Expense.total) %>)</h2>
<ul>
<% @expenses.each do |expense| %>
    <li><a href="/expenses/<%= expense.id %>"><%= expense.name %></a></li>
<% end %>
</ul><br>
<p><a href="/expenses/new">Add Expense</a></p>