<div class="nav">
    <h2>Welcome, <%= @user.username %></h2>
    <a href="/logout">Log Out</a>
    <a href="/expenses">Expenses</a>
    <a href="/items">Inventory</a>
    <a href="/dashboard">Dashboard</a>
</div><ul>
<li><a href="/items">Inventory:</a> $<%= total("items").to_s %></li>
<li><a href="/expenses">Expenses:</a> $<%= total("expenses").to_s %></li>
</ul><br>
