<div class="nav">
    <h2>Welcome, <%= @user.username %></h2>
</div><ul>
<li><a href="/items">Inventory:</a> $<%= Item.total(session[:user_id]).to_s %></li>
<li><a href="/expenses">Expenses:</a> $<%= Expense.total(session[:user_id]).to_s %></li>
</ul><br>
