<h2>Log In</h2>
<form method="POST" action="/login">
<p><label for="email"></label>
<input type="text" name="email" id="email" placeholder="Email"></p>
<p><label for="password"></label>
<input type="password" name="password" id="password" placeholder="Password"></p>
<input type="submit" value="Log In">
</form>