<h2>Sign Up</h2>
<form method="POST" action="/signup">
<p><label for="username"></label>
<input type="text" name="username" id="username" placeholder="Username"></p>
<p><label for="email"></label>
<input type="text" name="email" id="email" placeholder="Email"></p>
<p><label for="password"></label>
<input type="password" name="password" id="password" placeholder="Password"></p>
<input type="submit" value="Sign Up">
</form>