<div class="container">
  <!-- <header><img src="images/corneal-small.png" class="img-responsive main-image"></header> -->
    <h2>Resellytics</h2>
      Welcome to Resellytics. The all-in-one app for tracking your reselling. To get started please:
      <h3><a href="/login">Login</a> or <a href="/signup">Signup</a></h3>
</div>
